<<<<<<< HEAD
<<<<<<< HEAD
.section {
    margin-bottom: 20px;
}
.exp
{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 12px;
}
.bloc
{
    display: inline-block;
    margin: 20px;
}
.experience
{
    font-size: 14px;
}

#titre_bloc {
    position: relative;
    right: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
    background-color: orange;
    text-align: right;
    width: 510px;
    height: 30px;
    padding-right: 30px;
}
ul.square-bullets {
    list-style-type: none; /* Enlève les puces par défaut */
    padding: 0;
}

ul.square-bullets li {
    position: relative;
    padding-left: 25px; /* Espace pour la puce */
}

ul.square-bullets li::before {
    content: ''; /* Contenu vide */
    position: absolute;
    right: 90%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Largeur de la puce */
    height: 20px; /* Hauteur de la puce */
    background-color: orange; /* Couleur de la puce */
}
=======
#container{
    padding: 200px;
}

#profil{
    display: flex;
    background-color: rgb(221, 168, 33);
    align-items: center;
}

#image{
    height: 200px;
}
#image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
    position: relative;
    bottom: 50px;
    right: 50px;
}

#inf_user{
    color: white;
}

#inf_user h1{
    font-size: 30px;
}

#inf_user p{
    font-size: 16px;
}
>>>>>>> 9c724ceee705864f6308d6df6db604382f8f2ec9
=======
/*css du parti noir*/
#contact_skills{
 background-color: black;
 width: 25%;
 margin-left: 70%;
 padding-bottom: 10%;
 color: white;
 text-align: center;
 padding-top: 15%;
}
.titre {
   
    font-size: 20x;
    border: 2px solid orange;
    width: 60% ;
    padding: 10px;
    margin-left: 100px;
  
}
.paragraphe{
    text-align: justify;
    margin-left: 30%
}
.progress {
    width: 65%;
    height: 13px;
    border: 1px solid orange;
    margin-left: 100px;
  }
  #progress-bar {
    width: 90%;
    height: 100%;
    background-color:orange;  
    
  }    
  #progress-bar1 {
    width: 60%;
    height: 100%;
    background-color:orange;  
    
  }       

  #progress-bar2 {
    width: 80%;
    height: 100%;
    background-color:orange;  
    
  }       

  #progress-bar3 {
    width: 95%;
    height: 100%;
    background-color:orange;  
    
  }  
  .bi{
    margin-right: 50%;
    margin-bottom: -11%;
    
  }
 
>>>>>>> 67650fdae770f6be861c71d5562bb499de59c7f6
