/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5f9ea0	;
}*/

/********************PConteneur général*******************/
#container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    /*border-radius: 10px;*/
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}


/*#container{
    padding: 200px;
}
*/


/**************PArtie Profi*****************/
#profil{
    display: flex;
    background-color: orange;
    align-items: center;
    margin-left: 50px;
    height: 120px;
    position: relative;
    left: 20px;
    margin-top: 50px;
    z-index: 2;
}

#image{
    height: 150px;
    margin-left: 20px;
}
#image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid black;
    position: relative;
    bottom: 20px;
    right: 80px;
    
}

#inf_user{
    color: white;
    padding: 0;
}

#inf_user h1{
    font-size: 30px;
    margin-bottom: -10px;
}

#inf_user p{
    font-size: 16px;
}

/***********Parties Education et Exprience************/
.section {
    margin-bottom: 20px;
    padding-top: 70px;
}
.exp
{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 12px;
}
.bloc
{
    display: inline-block;
    margin: 20px;
    
}
.experience
{
    font-size: 14px;
}

#titre_bloc {
    position: relative;
    right: 20px;
    /*border-bottom: 2px solid #eee;*/
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
    background-color: orange;
    text-align: right;
    width: 510px;
    height: 30px;
    padding-right: 30px;
}
ul.square-bullets {
    list-style-type: none; /* Enlève les puces par défaut */
    padding: 0;
}

ul.square-bullets li {
    position: relative;
    padding-left: 25px; /* Espace pour la puce */
}

ul.square-bullets li::before {
    content: ''; /* Contenu vide */
    position: absolute;
    right: 90%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Largeur de la puce */
    height: 20px; /* Hauteur de la puce */
    background-color: orange; /* Couleur de la puce */
}
#barre_jaune /*Barre jaune footer*/
{
    background-color: orange;
    position: relative;
    bottom: 18px;
    width: 940px;
    height: 28px;
    left: 440px;
}
/*******************************css du parti noir*************************/
#contact_skills{
    background-color: black;
    width: 20%;
    height: 672px;
    margin-left: 1017px;
    padding-bottom: 2%;
    color: white;
    text-align: center;
    padding-top: 286px;
    position: relative;
    bottom: 1013px;
    z-index: 1;
   }
   .titre {
      
       font-size: 20x;
       border: 2px solid orange;
       width: 50% ;
       padding: 10px;
       margin-left: 100px;
       position: absolute;
       bottom: 690px;
     
   }
   .titre2 {
      
    font-size: 20x;
    border: 2px solid orange;
    width: 50% ;
    padding: 10px;
    margin-left: 100px;
    position: absolute;
    bottom: 390px;
  
}
   .paragraphe{
       text-align: justify;
       margin-left: 30%;
       margin: 0;
       bottom: 50px;
       margin-left: 120px;
       font-size: 13x;
   }
   h3{
    font-size: 13px;
    position: relative;
    top: 85px;
   }
   .progress {
       width: 55%;
       height: 10px;
       border: 1px solid orange;
       margin-left: 100px;
       position: relative;
       top: 85px;
     }
     #progress-bar {
       width: 90%;
       height: 100%;
       background-color:orange;  
       
     }    
     #progress-bar1 {
       width: 60%;
       height: 100%;
       background-color:orange;  
       
     }       
   
     #progress-bar2 {
       width: 80%;
       height: 100%;
       background-color:orange;  
       
     }       
   
     #progress-bar3 {
       width: 95%;
       height: 100%;
       background-color:orange;  
       
     }  
     .bi{
       margin-right: 50%;
       margin-bottom: -11%;
       
     }
     .icons
     {
         position: absolute;
         font-size: 30px;
         bottom: 10px;
         left: 60px;   
         color: #fff; 
         padding: 35px;
         border-top: 2px solid #fff;
     }
     
     #icons{
         margin-left: 30px;
     }
   