#container{
    padding: 200px;
}

#profil{
    display: flex;
    background-color: rgb(221, 168, 33);
    align-items: center;
}

#image{
    height: 200px;
}
#image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
    position: relative;
    bottom: 50px;
    right: 50px;
}

#inf_user{
    color: white;
}

#inf_user h1{
    font-size: 30px;
}

#inf_user p{
    font-size: 16px;
}
